<!DOCTYPE html>
<html xmlns="http://www.w3.org./1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.com" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/layout/LayoutPadrao">
	<head>
		<meta charset="UTF-8"></meta>
		<title>MyLAb, Novo Tipo Corpo Selestial</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10">
							<h1 class="panel-title">Novo Tipo Corpo Selestial</h1>
						</div>
						<div class="col-xs-2">
							<div class="aw-page-header-controls">
								<a class="btn btn-link" th:href="@{/tipoCorpoSelestial}">Voltar para listagem de Tipo Corpo Selestial</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- É PRECISO COLOCAR A th:object DO THIMELEAF PARA O SPRINGA ENCONTRAR OS FIELDS DO OBJETO QUE QUEREMOS VALIDAR -->
			<form class="form-vertical js-form-loading" method="post" th:action="@{/tipoCorpoSelestial}" th:object="${tipoCorpoSelestial}">
				<!-- ######################################################################## -->
				<!-- IMPORTANTE NOTAR QUE O NOME DO OBJETO PARA TRAFEGAR CORRETAMENTE ENTRE A VIEW E O CONTROLLER, PRECISA OBRIGATORIAMENTE, SER O NOME DO BEAN COM A PRIMEIRA LETRA MINUSCULA -->
				<!-- ######################################################################## -->	
				<div layout:include="/layout/MensagemSucesso"></div>
				<div layout:include="/layout/MensagemErro"></div>
				<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-2">
						<input id="descricao" type="text" class="form-control" th:field="*{descricao}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>