<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
	
	<div class="modal fade" id="confirmacaoExclusaoModal" tabindex="-1" data-keyboard="true" data-backdrop="static">
		<div class="modal-dialog">
			<form method="post" action="">
				<!-- ################################################################################# -->
				<!-- INSTRUÇÃO PARA O SPRING -->
				<!-- ISSO SIGNIFICA QUE POSSO MAPEAR NO CONTROLEER UM METODO PARA RECEBER A REQUISIÇÃO COM O OBJETIVO DE FAZER O DELETE -->
				<input type="hidden" name="_method" value="delete"/>
				<!-- ################################################################################# -->
				
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Você tem certeza?</h4>
					</div>
					<div class="modal-body">
						<span>Tem certeza que deseja apagar o objeto?</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Excluir</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</html>