<!DOCTYPE html>
<html xmlns="http://www.w3.org./1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.com" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/layout/LayoutPadrao">
	<head>
		<meta charset="UTF-8"></meta>
		<title>MyLab Forms, Área do Corpo Selestial</title>
	</head>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 class="panel-title">Àrea Corpo Selestial</h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-primary" th:href="@{/areaCorpoSelestial/novo}">
								<i class="fa fa-plus-circle"></i> <span class="hidden-xs hidden-sm">Nova Àrea do Corpo Selestial</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="table-responsive">
				<div layout:include="/layout/MensagemSucesso"></div>
				<table id="tableElementos" class="table table-striped table-bordered table-over table-condensed js-sticky-table">
					<thead class="aw-table-header-solid">
						<tr>
							<th>Código</th>
							<th>Corpo Selestial</th>
							<th>Área do Corpo Selestial</th>
							<th>Unidade de Medida</th>
							<th>Tipo de Área do Corpo Selestial</th>
						</tr>
					</thead>	
					<tbody>
						<tr th:each="areaCorpoSelestial : ${areas}">
							<td th:text="${areaCorpoSelestial.id}"></td>
							<td th:text="${areaCorpoSelestial.corpoSelestialArea.nomeCorpoSelestial}"></td>
							<td class="text-center" th:text="${areaCorpoSelestial.area}"></td>
							<td class="text-center" th:text="${areaCorpoSelestial.umAreaCorpoSelestial.simbolo}"></td>
							<td class="text-center">
								<span class="label label-info" th:text="${areaCorpoSelestial.tipoAreaCorpoSelestial.descricao}"></span>
							</td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" th:href="@{/areaCorpoSelestial/{codigo}(codigo=${areaCorpoSelestial.id})}">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal" 
									th:attr="data-codigo=${areaCorpoSelestial.id},data-descricao=| a ${areaCorpoSelestial.area} para do corpo selestial ${areaCorpoSelestial.corpoSelestialArea.nomeCorpoSelestial}|" 
									data-destiny="/areaCorpoSelestial">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>
						<!-- O MESMO FUNCIONA, NO CASO DAS DUAS CHAVES, PARA CONVERSÃO AUTOMÁTICA DO NUMERO -->
						<tr th:if="${areas.empty}">
							<td colspan="9">Nenhuma Área de Corpo Selestial foi encontrada.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div layout:include="/layout/DialogoConfirmacaoExclusao"></div>
		</div>
	</section>
</html>