<!DOCTYPE html>
<html xmlns="http://www.w3.org./1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.com" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/layout/LayoutPadrao">
	<head>
		<meta charset="UTF-8"></meta>
		<title>MyLAb, Novo Usuário</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10">
							<h1 class="panel-title">Novo Usuário</h1>
						</div>
						<div class="col-xs-2">
							<div class="aw-page-header-controls">
								<a class="btn btn-link" th:href="@{/usuario}">Voltar para listagem de usuários</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- É PRECISO COLOCAR A th:object DO THIMELEAF PARA O SPRINGA ENCONTRAR OS FIELDS DO OBJETO QUE QUEREMOS VALIDAR -->
			<form class="form-vertical js-form-loading" method="post" th:action="@{/usuario}" th:object="${usuario}">
				<!-- ######################################################################## -->
				<!-- IMPORTANTE NOTAR QUE O NOME DO OBJETO PARA TRAFEGAR CORRETAMENTE ENTRE A VIEW E O CONTROLLER, PRECISA OBRIGATORIAMENTE, SER O NOME DO BEAN COM A PRIMEIRA LETRA MINUSCULA -->
				<!-- ######################################################################## -->	
				<div layout:include="/layout/MensagemSucesso"></div>
				<div layout:include="/layout/MensagemErro"></div>
				<input type="hidden" th:field="*{id}"/>
				<!-- PARA CADA CAMPO, PRECISAMOS INFORMAR O FIELD PARA O THYMELEAF, SE NÃO OS VALORES SERÃO PERDIDOS A CADA REQUISÇÃO  -->
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-2">
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-2">
						<input id="email" type="text" class="form-control" th:field="*{email}"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
					<label for="password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-2">
						<input id="password" type="text" class="form-control" th:field="*{password}"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('login')} ? has-error">
					<label for="login" class="col-sm-2 control-label">Login</label>
					<div class="col-sm-2">
						<input id="login" type="text" class="form-control" th:field="*{login}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>